html {
  font-size: var(--font-scaling-desktop);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  color: var(--neutral-on-background-strong);
}

@media (--m) {
  html {
    font-size: var(--font-scaling-tablet);
  }
}
@media (--s) {
  html {
    font-size: var(--font-scaling-mobile);
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.font-size-inherit {
  font-size: inherit;
}

.font-weight-inherit {
  font-weight: inherit;
}

.font-display {
  font-family: var(--font-family-heading);
}
.font-display.font-strong, .font-display > .font-strong {
  font-weight: var(--font-weight-display-strong);
}
.font-display.font-default, .font-display > .font-default {
  font-weight: var(--font-weight-display-default);
}
.font-display.font-xl, .font-display > .font-xl {
  font-size: calc(var(--font-size-display-xl) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-display-xl) * var(--line-height-heading-multiplier));
  letter-spacing: -2%;
}
.font-display.font-l, .font-display > .font-l {
  font-size: calc(var(--font-size-display-l) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-display-l) * var(--line-height-heading-multiplier));
  letter-spacing: -1.5%;
}
.font-display.font-m, .font-display > .font-m {
  font-size: calc(var(--font-size-display-m) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-display-m) * var(--line-height-heading-multiplier));
  letter-spacing: -1%;
}
.font-display.font-s, .font-display > .font-s {
  font-size: calc(var(--font-size-display-s) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-display-s) * var(--line-height-heading-multiplier));
  letter-spacing: -0.5%;
}
.font-display.font-xs, .font-display > .font-xs {
  font-size: calc(var(--font-size-display-xs) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-display-xs) * var(--line-height-heading-multiplier));
}

.font-heading {
  font-family: var(--font-family-heading);
}
.font-heading.font-strong, .font-heading > .font-strong {
  font-weight: var(--font-weight-heading-strong);
}
.font-heading.font-default, .font-heading > .font-default {
  font-weight: var(--font-weight-heading-default);
}
.font-heading.font-xl, .font-heading > .font-xl {
  font-size: calc(var(--font-size-heading-xl) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-heading-xl) * var(--line-height-heading-multiplier));
}
.font-heading.font-l, .font-heading > .font-l {
  font-size: calc(var(--font-size-heading-l) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-heading-l) * var(--line-height-heading-multiplier));
}
.font-heading.font-m, .font-heading > .font-m {
  font-size: calc(var(--font-size-heading-m) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-heading-m) * var(--line-height-heading-multiplier));
}
.font-heading.font-s, .font-heading > .font-s {
  font-size: calc(var(--font-size-heading-s) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-heading-s) * var(--line-height-heading-multiplier));
}
.font-heading.font-xs, .font-heading > .font-xs {
  font-size: calc(var(--font-size-heading-xs) * var(--font-size-heading-multiplier));
  line-height: calc(var(--line-height-heading-xs) * var(--line-height-heading-multiplier));
}

.font-body {
  font-family: var(--font-family-body);
}
.font-body.font-strong, .font-body > .font-strong {
  font-weight: var(--font-weight-body-strong);
}
.font-body.font-default, .font-body > .font-default {
  font-weight: var(--font-weight-body-default);
}
.font-body.font-xl, .font-body > .font-xl {
  font-size: calc(var(--font-size-body-xl) * var(--font-size-body-multiplier));
  line-height: calc(var(--line-height-body-xl) * var(--line-height-body-multiplier));
}
.font-body.font-l, .font-body > .font-l {
  font-size: calc(var(--font-size-body-l) * var(--font-size-body-multiplier));
  line-height: calc(var(--line-height-body-l) * var(--line-height-body-multiplier));
}
.font-body.font-m, .font-body > .font-m {
  font-size: calc(var(--font-size-body-m) * var(--font-size-body-multiplier));
  line-height: calc(var(--line-height-body-m) * var(--line-height-body-multiplier));
}
.font-body.font-s, .font-body > .font-s {
  font-size: calc(var(--font-size-body-s) * var(--font-size-body-multiplier));
  line-height: calc(var(--line-height-body-s) * var(--line-height-body-multiplier));
}
.font-body.font-xs, .font-body > .font-xs {
  font-size: calc(var(--font-size-body-xs) * var(--font-size-body-multiplier));
  line-height: calc(var(--line-height-body-xs) * var(--line-height-body-multiplier));
}

.font-label {
  font-family: var(--font-family-label);
}
.font-label.font-strong, .font-label > .font-strong {
  font-weight: var(--font-weight-label-strong);
}
.font-label.font-default, .font-label > .font-default {
  font-weight: var(--font-weight-label-default);
}
.font-label.font-l, .font-label > .font-l {
  font-size: calc(var(--font-size-label-l) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-l) * var(--line-height-label-multiplier));
}
.font-label.font-m, .font-label > .font-m {
  font-size: calc(var(--font-size-label-m) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-m) * var(--line-height-label-multiplier));
}
.font-label.font-s, .font-label > .font-s {
  font-size: calc(var(--font-size-label-s) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-s) * var(--line-height-label-multiplier));
}

.font-code {
  font-family: var(--font-family-code);
}
.font-code.font-strong, .font-code > .font-strong {
  font-weight: var(--font-weight-code-strong);
}
.font-code.font-default, .font-code > .font-default {
  font-weight: var(--font-weight-code-default);
}
.font-code.font-l, .font-code > .font-l {
  font-size: calc(var(--font-size-label-l) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-l) * var(--line-height-label-multiplier));
}
.font-code.font-m, .font-code > .font-m {
  font-size: calc(var(--font-size-label-m) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-m) * var(--line-height-label-multiplier));
}
.font-code.font-s, .font-code > .font-s {
  font-size: calc(var(--font-size-label-s) * var(--font-size-label-multiplier));
  line-height: calc(var(--line-height-label-s) * var(--line-height-label-multiplier));
}/*# sourceMappingURL=typography.css.map */